<div class="large-3 medium-4 small-12 columns article<%= " end" if article_counter + 1 == @articles.count %>">
    <h2><%= article.name %></h2>
    <p>
      <img src="<%= article.image.url(:thumb) %>" alt="preview of <%= article.name %>">
    </p>
    <p class="text-right price">
        <a class="button large" href="<%= url_for(action: :buy, id: article.id) %>">
            <%= number_to_currency article.price %>
        </a>
    </p>
</div>
