<div class="row">
  <div class="columns small-6">
    <h2><%= @articles.name  %></h2>
    <p>
      <img src="<%= @articles.image.url(:medium) %>" alt="preview of <%= @articles.name %>">
    </p>
  </div>
  <div class="columns small-6">
    <p>
      <%= @articles.description %>
    </p>
    <p>
      Prix : <%= @articles.price %>
    </p>
  </div>
</div>