<div class="row">
    <div class="large-4 medium-4 small-12 columns article<%= " end" if sale_counter + 1 == @sales.count %>">
    <h2><%= sale.article.name %></h2>
    </div>
    <div class="large-4 small-12 columns article<%= " end" if sale_counter + 1 == @sales.count %>">
      <img src="<%= sale.article.image.url(:thumb) %>" alt="preview of <%= sale.article.name %>">
    </div>
    <span id="countdown-<%= sale.id %>" class="button medium success"></span>

<%# FIXME: le JavaScript dans l'HTML c'est surtout quand il est dupliqué n fois! %>
    <script type="text/javascript">

      //We get the time in database in UTC and we convert it to the user timezone
      var time = new Date("<%= sale.date_end.strftime("%Y/%m/%d %T") %>" + " UTC");
      time = format(time,"yyyy/MM/dd hh:mm:ss");

      $('#countdown-<%= sale.id %>').countdown(time)
      .on('update.countdown', function(event) {
         var format = '%H:%M:%S';
         if(event.offset.days > 0) {
             format = '%-d day%!d ' + format;
           }
         if(event.offset.weeks > 0) {
             format = '%-w week%!w ' + format;
           }
         $(this).html(event.strftime(format));
        })
      .on('finish.countdown', function(event) {
           $(this).html('the sale is over.')
            .parent().addClass('disabled');

        });

    </script>

      <div>
        <%= button_to "Show", { action: "show", id:sale.id}, class: "button large" %>
        <% if user_signed_in? %>
            <% if sale.user_id == current_user.id %>
                <%= button_to "It's yours... for now!",
                              { action: "show", id:sale.id},
                              form_class: "button-bet",
                              class: "button large sale-"+sale.id.to_s,
                              remote: true%>
            <% else %>
                <%= button_to sale.price.to_s + " pts",
                              { action: "buy", id:sale.id},
                              form_class: "button-bet",
                              class: "button large sale-"+sale.id.to_s,
                              remote: true%>
            <% end %>
        <% else %>
            <%= button_to sale.price.to_s + " pts",
                          { action: "buy", id:sale.id},
                          form_class: "button-bet",
                          class: "button large sale-"+sale.id.to_s,
                          data: { confirm: 'To bet, you must frst login, Proceed?'},
                          remote: true%>
        <% end %>
      </div>
    <%# FIXME: WTFBBQ!? %>
    <hr style="width:100%; color:black; background-color:black; height:2px;" /> 
</div>
