<div class="large-3 medium-4 small-12 columns article<%= " end" if sale_counter + 1 == @sales.count %>">
    <h2><%= sale.article.name %></h2>
    <p>
      <img src="<%= sale.article.image.url(:thumb) %>" alt="preview of <%= sale.article.name %>">
    </p>
    <p class="text-left detail">
      <div>
        <%= button_to "Show", { action: "show", id:sale.id}, class: "button large" %>
        <% if user_signed_in? %>
            <% if sale.user_id == current_user.id %>
                <%= button_to "WIN!",
                              { action: "buy", id:sale.id},
                              class: "button large"%>
            <% else %>
                <%= button_to sale.price.to_s + " pts",
                              { action: "buy", id:sale.id},
                              class: "button large" %>
            <% end %>
        <% else %>
            <%= button_to sale.price.to_s + " pts",
                          { action: "buy", id:sale.id},
                          class: "button large",
                          data: { confirm: 'To bet, you must frst login, Proceed?'} %>
        <% end %>
      </div>
    </p>

</div>
